* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root {
  display: flex;
  justify-content: center;
  align-items: center;

  
}
body{
  background-image: linear-gradient(to left, rgb(10,10,10),rgb(41, 39, 39));
}
h1{
  text-align: center;
 color: white;
  
}
.main {
  border: 2px solid rgb(41,41,41);
  height: 3.2rem;
  width: 46vw;
  background-color: rgb(20,20,20);
  border-radius: 25px;

  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.butn {
  padding: 10px 20px;
  border: none;
  border-radius: 15px;
  background-color: rgb(41,41,41);
  box-shadow:  1px 1px rgb(90, 88, 88) ;
margin-left: 5px;
color: white;
}
#input {
  width: 32vw;
  outline: none;
  height: 2.5rem;
  border-radius: 25px;
  background-color: rgb(41,41,41);
  text-align: center;
  font-size: 17px;
  color: white;
}

.content {
  border: 2px solid rgb(31, 30, 30);
  height: 30rem;
  width: 43vw;
  background-image: linear-gradient(to left, rgb(10,10,10),rgb(19, 18, 18));
  margin: 20px 17px;
  border-radius: 10px;
 overflow: scroll;
 scrollbar-color: #434242 #282828;
  font-size: 20px;
padding: 10px;
}
#text{
  border: 2px solid rgb(39, 39, 39);
  box-shadow:  2px 2px rgb(118, 115, 115) ;
  display: flex;
text-align: center;
padding: 5px 10px;
justify-content: space-between;
background-image: linear-gradient(to left, rgb(10,10,10),rgb(51, 50, 50));
border-radius: 25px;
width: 40vw;
color: white;
scrollbar-gutter: stable both-edges;
margin-bottom: 15px;
}
.task{
  padding-top: 5px;
}
      

#btn1{
    padding: 10px;    
}
.b1{
  display: flex;
}
.b2{
  display: flex;
  padding: 10px 20px;
  border: none;
  border-radius: 15px;  
  background-color: rgb(41, 39, 39);
  box-shadow:  1px 1px rgb(90, 88, 88) ;
  margin-left: 10px;
  margin-top: auto;
  color: white;
 
}

.text{
  border: none;
  outline: none; 
 display: flex;
width: 50vw;
background-color: rgb(0, 0, 0);
font-size: 20px;
text-align: center;

justify-content: space-between;
color: white;
border-radius: 25px;
}

  
